<div class="row">
    <section>
        <form #loginForm="ngForm" (ngSubmit)="loginUser()">
            <div class="form-group">
                <label for="exampleInputEmail1">Adresse e-mail</label>
                <input [(ngModel)]="user.email" name="email" type="email" class="form-control" placeholder="entrer l'adresse e-mail" required="true" />
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Mot de passe</label>
                <input [(ngModel)]="user.password" name="password" type="password" class="form-control" placeholder="entrer mot de passe" required="true" />
            </div>
            <button type="submit" class="btn btn-primary">Se connecter</button>
        </form>
        <small style="font-size: small;" class="label label-danger">{{msg}}</small>
    </section>
</div>
<p class="textfa-pull-left text-muted mt-5 mb-0">Vous n'avez pas déjà un compte ? <a href="/register" class="fw-bold text-body"><u>Inscrivez-vous ici</u></a></p>