<div class="container-fluid">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <form [formGroup]="form" (ngSubmit)="saveContact()">
                    <h2>Ajouter nouveau contact</h2>

                    <div class="form-group">
                        <label>Nom de contact</label>
                        <input type="text" name="name" [(ngModel)]="contact.name" formControlName="name" placeholder="Taper votre nome" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['name'].errors }" />
                        <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                            <div style="color: red;" *ngIf="f['name'].errors['required']">Le nom est requis</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Adresse de contact</label>
                        <input type="text" name="adresse" [(ngModel)]="contact.adresse" formControlName="adresse" placeholder="Taper votre adresse" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['adresse'].errors }" />
                        <div *ngIf="submitted && f['adresse'].errors" class="invalid-feedback">
                            <div style="color: red;" *ngIf="f['adresse'].errors['required']">L'adresse est requis</div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label>Email de contact</label>
                        <input type="text" name="email" [(ngModel)]="contact.email" formControlName="email" placeholder="Taper votre email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" />
                        <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                            <div style="color: red;" *ngIf="f['email'].errors['required']">L'email est requis</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Telephone de contact</label>
                        <input type="text" name="tel" [(ngModel)]="contact.tel" formControlName="tel" placeholder="Taper votre tel" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['tel'].errors }" />
                        <div *ngIf="submitted && f['tel'].errors" class="invalid-feedback">
                            <div style="color: red;" *ngIf="f['tel'].errors['required']">Telephone est requis</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="reset" class="btn btn-warning">Annuler</button>
                        <button type="submit" class="btn btn-primary">Enregistrer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>